@tailwind base;
@tailwind components;
@import "./prism.css";
@tailwind utilities;

::selection {
  @apply bg-neutral-800 text-neutral-200 dark:bg-neutral-200 dark:text-neutral-800;
}

/*
@supports (background: paint(something)) {
  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
}
*/

@layer components {
  .link {
    @apply transform rounded-sm text-orange-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-amber-500 focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 hocus:text-orange-500 hocus:underline dark:text-orange-400 dark:focus-visible:ring-offset-neutral-900 dark:hocus:text-orange-500;
  }

  .demarcated-section {
    @apply rounded-2xl border border-neutral-200 p-6 shadow-lg shadow-neutral-900/5  dark:border-neutral-700/70 dark:shadow-neutral-100/5;
  }
}

.marquee-masked-blur {
  backdrop-filter: blur(8px);
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 35%,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 35%,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* Heading anchor links */
.prose .anchor-link:before {
  @apply text-neutral-400 dark:text-neutral-500;
  content: "#";
}

.prose .anchor-link {
  @apply invisible no-underline;
  position: absolute;
  left: -1em;
  right: 0;
}

.anchor-link:hover {
  @apply visible;
}

.prose *:hover > .anchor-link {
  @apply visible;
}

.rehype-code-title {
  @apply mb-0 rounded-t-lg border border-neutral-300 bg-neutral-100/50 px-5 py-3 font-mono text-sm font-bold text-neutral-800 dark:border-neutral-700 dark:bg-neutral-900/50 dark:text-neutral-200;
}
